.leaflet-container {
    height: 100vh;
    width: 100%;
    position: relative;
    /* z-index: 0; */
}

.leaflet-control {
    z-index: 0 !important;
    top: 4rem !important;
    left: 1rem !important;
}
.leaflet-pane {
    z-index: 0 !important;
}
.leaflet-top,
.leaflet-bottom {
    z-index: 0 !important;
}

/* .header {
    position: absolute;
    top: 2rem;
} */
